.section {
  display: flex;
  flex-direction: column;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow-y: scroll;
  max-height: calc(100vh - 536px);
  height: 100%;
}

.listItem {
  composes: mb-4 from global;
  composes: mt-4 from global;
}

.listItem:first-child {
  margin-top: 0;
}

.listItem:last-child {
  margin-bottom: 0;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.priceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
