.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  composes: mb-4 from global;
  composes: mt-4 from global;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
